.Story h2 {
    padding-top: 0px;
    padding-left: 30px;
    font-weight: bold;
    color: black;
  }

  .Story {
    background-color:#f9ab03;
    opacity: 70%;
    margin: 50px;
    border-radius: 15px;
    margin-bottom: 30px;
    animation: scroll 2s linear;
  }

  article.explicite {
    width: 90%;
    height: auto;
    margin: auto;
    border: none;
    padding: 20px;
  }

  p.presentation {
    text-align: center;
    font-size: 20px;
  }

  ul {
    padding-bottom: 10px;
    
  }

  .detail li {
    font-size: 25px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  

  .Story h2 {
    padding-top: 0px;
    padding-left: 30px;
    font-weight: bold;
    color: black;
  }

  .Story {
    background-color:#f9ab03;
    opacity: 70%;
    margin: 50px;
    border-radius: 15px;
    margin-bottom: 30px;
    animation: scroll 2s linear;
  }

  article.explicite {
    width: 90%;
    height: auto;
    margin: auto;
    border: none;
    padding: 20px;
  }

  p.presentation {
    text-align: center;
    font-size: 20px;
  }

  ul {
    padding-bottom: 10px;
    
  }

  .detail li {
    font-size: 25px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

 

  